body {
    background: gray;
    margin: 0;
}
header {
    background: white;   
    padding: 10 px;
}
header h1 {
    margin: 0;
    font-size: 25px;
}
div.post{
    background: white;
    margin-top: 10px;
}
div.post img {
    width: 100%;
}
.subtitle{
    display: inline-block;
    width: 80%;
}
.date{
    display: inline-block;
    width: 15%;
    text-align: right;
    color: grey;
}
div.post h2, div.post p {
    padding: 8px;
    margin: 0;
}
div.container {
    width: 300px;
    margin: auto;
}